@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap';

// Global Styles

body {
  background-color: rgba(46, 79, 94, 0.17);
}

.foo {
  background: url('../images/favicon.ico')
}

.card {
  box-shadow: -5px 5px 15px -1px rgba(54, 54, 56, .31)
}

