<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tarifair Siegel Generator{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/index.css') }}"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        {% block nav %}
            {{ include('nav.html.twig') }}
        {% endblock nav %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('footer.html.twig') }}
        {% endblock footer %}

        {% block javascripts %}
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/vendor.js') }}"></script>
        {% endblock %}
    </body>
</html>
