<footer class="py-2 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">1blick GmbH ©2014-2018 --All Rights Reserved-- Made with <i class="far fa-heart text-danger"></i> in Heidelberg</p>
    </div>
</footer>