{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            {{ form_start(form) }}
           <div class="card-body">
               <div class="form-row">
                   <div class="form-group col-sm">
                       <label for="form_productType">Produktart</label>
                       {{ form_widget(form.productType) }}
                   </div>
                   <div class="form-group col-sm">
                       <label for="form_company">Gesellschaft</label>
                       {{ form_widget(form.company) }}
                   </div>
               </div>
               <div class="form-row">
                   <div class="form-group col-md-6">
                       <label for="form_tariffName">Tarifname</label>
                       {{ form_widget(form.tariffName) }}
                   </div>
                   <div class="form-group col-md-6">
                       <label for="form_tariffStand">Bedienungsstand</label>
                       {{ form_widget(form.tariffStand) }}
                   </div>
               </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="form_logoSource">Logo URL</label>
                        {{ form_widget(form.logoSource) }}
                        <small class="form-text text-muted">PNG oder SVG Format mit transparent Hintergrund</small>
                    </div>
                </div>
                <p id="conveying-meaning-to-assistive-technologies">Logo aus <a href="https://drive.google.com/drive/folders/0B9clDqpj7aMBODJCRVJqWmdWY28?usp=sharing" target="_blank">Google Drive</a> importieren <a href="#" data-toggle="modal" data-target="#logo_modal"><i class="fa fa-info-circle"></i></a></p>
               <p id="conveying-meaning-to-assistive-technologies">Logo aus internet importieren <a href="#" data-toggle="modal" data-target="#internet_modal"><i class="fa fa-info-circle"></i></a></p>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="modal fade" id="logo_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Logo aus Google Drive importieren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>1. Klicken Sie mit der rechten Maustaste einmal auf das Logo.</p>
                    <p>2. Link zum Freigeben abrufen kopieren.</p>
                    <p>3. in Logo-Feld einfügen.</p>
                    <p>4. <code class="highlighter-rouge">open</code> durch <code class="highlighter-rouge">uc</code> ersetzen</p>
                    <p><i class="fa fa-times text-danger"></i> <code style="color: #000"> https://drive.google.com/</code><code class="highlighter-rouge">open</code><code  style="color: #000">?id=0B9clDqpj7aMBd2pNNFJuWFhfdVE</code></p>
                    <p><i class="fa fa-check text-success"></i><code style="color: #000"> https://drive.google.com/</code><code class="highlighter-rouge">uc</code><code  style="color: #000">?id=0B9clDqpj7aMBd2pNNFJuWFhfdVE</code></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">schließen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="internet_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Logo aus Internet importieren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>1. Klicken Sie mit der rechten Maustaste einmal auf das Logo.</p>
                    <p>2. Dann klicken Sie auf "Bildadresse kopieren"</p>
                    <p>3. in Logo-Feld einfügen</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">schließen</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}