{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">Tarifair Siegel Generator</a>
            <ul class="navbar-brand navbar-nav">
                <li class="nav-item active">
                    <a id="export_svg" href="#" class="nav-link"><i class=" fas fa-download"></i> rechtsklick + Link speichern unter...</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock nav %}

{% block body %}
    <div class="text-center mt-5 animated flip">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 9499.9997 13870.187"
                xml:space="preserve"
                height="80vh"
                width="80vw"
                version="1.1"
                id="svg2"><metadata
                    id="metadata8"><rdf:RDF><cc:Work
                            rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
                    id="defs6"><clipPath
                        id="clipPath18"
                        clipPathUnits="userSpaceOnUse"><path
                            id="path20"
                            d="M 0,0 H 14669 V 3561.83 H 0 Z" /></clipPath><clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath3199"><path
                            d="M 0,2139.88 V 0 h 5959.9 v 2139.88 z"
                            id="path3201" /></clipPath><clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath3199-2"><path
                            d="M 0,2139.88 V 0 h 5959.9 v 2139.88 z"
                            id="path3201-7" /></clipPath><clipPath
                        id="clipPath18-1"
                        clipPathUnits="userSpaceOnUse"><path
                            id="path20-7"
                            d="M 0,0 H 14669 V 3561.83 H 0 Z" /></clipPath><clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath3199-6"><path
                            d="M 0,2139.88 V 0 h 5959.9 v 2139.88 z"
                            id="path3201-1" /></clipPath><clipPath
                        id="clipPath18-17"
                        clipPathUnits="userSpaceOnUse"><path
                            id="path20-4"
                            d="M 0,0 H 14669 V 3561.83 H 0 Z" /></clipPath><clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath4472"><path
                            d="M 0,2139.88 V 0 h 5959.9 v 2139.88 z"
                            id="path4474" /></clipPath><clipPath
                        id="clipPath18-17-2"
                        clipPathUnits="userSpaceOnUse"><path
                            id="path20-4-5"
                            d="M 0,0 H 14669 V 3561.83 H 0 Z" /></clipPath><clipPath
                        id="clipPath18-17-0"
                        clipPathUnits="userSpaceOnUse"><path
                            id="path20-4-9"
                            d="M 0,0 H 14669 V 3561.83 H 0 Z" /></clipPath><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-7"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-3"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_1_x5F_"
                        class="st2"
                        d="M 430.7,250 C 430.7,349.8 349.8,430.7 250,430.7 150.2,430.7 69.3,349.8 69.3,250 69.3,150.2 150.2,69.3 250,69.3 c 99.8,0 180.7,80.9 180.7,180.7 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-7-4"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><clipPath
                        id="clp5"><path
                            d="m 1457.1,761.7 h 87.3 v -22.6 h -87.3 z"
                            id="path37641" /></clipPath><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-7-4-1"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><clipPath
                        id="clipPath2458"><path
                            d="M 0.059998,785.197 H 595.276 V 106.772 H 0.059998 Z"
                            id="path2460" /></clipPath><clipPath
                        id="clipPath2522"><path
                            d="M 0.059998,841.89 H 595.276 V 0.06 H 0.059998 Z"
                            id="path2524" /></clipPath><clipPath
                        id="clipPath2546"><path
                            d="M 603.78,850.394 H -8.503 V -8.504 H 603.78 Z"
                            id="path2548" /></clipPath><clipPath
                        id="clipPath2552"><path
                            d="M 0.059998,841.89 H 595.276 V 0.06 H 0.059998 Z"
                            id="path2554" /></clipPath><clipPath
                        id="clipPath2566"><path
                            d="M 603.78,214.421 H 141.733 v -8.5546 H 603.78 Z"
                            id="path2568" /></clipPath><clipPath
                        id="clipPath2572"><path
                            d="M 0.059998,841.89 H 595.276 V 0.06 H 0.059998 Z"
                            id="path2574" /></clipPath><clipPath
                        id="clipPath2580"><path
                            d="M 2.8e-5,-3.2e-5 H 1.00003 V 53.0178 H 2.8e-5 Z"
                            id="path2582" /></clipPath><linearGradient
                        x1="0"
                        y1="0"
                        x2="1"
                        y2="0"
                        id="linearGradient2584"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="matrix(0,8.55456,8.55456,0,141.73198,205.866)"
                        spreadMethod="pad"><stop
                            id="stop2586"
                            style="stop-color:#00a759;stop-opacity:1"
                            offset="0" /><stop
                            id="stop2588"
                            style="stop-color:#00763a;stop-opacity:1"
                            offset="1" /></linearGradient><clipPath
                        id="clipPath2596"><path
                            d="M 0.059998,841.89 H 595.276 V 0.06 H 0.059998 Z"
                            id="path2598" /></clipPath><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-7-4-1-8"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-3-7"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_1_x5F_-8"
                        class="st2"
                        d="M 430.7,250 C 430.7,349.8 349.8,430.7 250,430.7 150.2,430.7 69.3,349.8 69.3,250 69.3,150.2 150.2,69.3 250,69.3 c 99.8,0 180.7,80.9 180.7,180.7 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-3-7-6"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_1_x5F_-8-5"
                        class="st2"
                        d="M 430.7,250 C 430.7,349.8 349.8,430.7 250,430.7 150.2,430.7 69.3,349.8 69.3,250 69.3,150.2 150.2,69.3 250,69.3 c 99.8,0 180.7,80.9 180.7,180.7 z" /><clipPath
                        id="clipPath2484"><path
                            d="m -31.179,841.89 h 1774.5 V 0 h -1774.5 z"
                            id="path2486" /></clipPath><clipPath
                        id="clipPath2490"><path
                            d="m -31.179,841 h 1774.49 V -0.89 H -31.179 Z"
                            id="path2492" /></clipPath><clipPath
                        id="clipPath2496"><path
                            d="m 981.241,811.803 h 159.706 V 757.945 H 981.241 Z"
                            id="path2498" /></clipPath><clipPath
                        id="clipPath2502"><path
                            d="m 985.852,805.57 v -56.451 h 153.039 v 56.451"
                            id="path2504" /></clipPath><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-7-1"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><path
                        style="fill:none"
                        id="SVGID_x5F_2_x5F_-7-4-8"
                        class="st2"
                        d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><clipPath
                        id="clp5-1"><path
                            d="M 460.28,810.71 V 740.5 h 100.77 v 70.21"
                            id="path2475" /></clipPath><clipPath
                        id="clp6"><path
                            d="M 460.28,810.71 V 740.5 h 100.77 v 70.21"
                            id="path2503" /></clipPath></defs><g
                    transform="translate(-0.31413794,8.2881317)"
                    style="display:inline"
                    id="layer10"><rect
                        y="-8.2881317"
                        x="5.3065891"
                        height="13870.187"
                        width="9490.0146"
                        id="rect3919"
                        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:9.98490238;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><text
                        id="text94723"
                        y="766.94495"
                        x="232.7886"
                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;line-height:0%;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab Bold';letter-spacing:0px;word-spacing:0px;fill:#333333;fill-opacity:1;stroke:none"
                        xml:space="preserve"><tspan
                            style="font-size:560px;line-height:1.25"
                            y="766.94495"
                            x="232.7886"
                            id="tspan94725">tari<tspan
                                id="tspan95495"
                                style="font-size:560px;fill:#00adef;fill-opacity:1">fair</tspan> Verbraucherschutz-Check</tspan></text>
            </g><g
                    style="display:inline"
                    transform="matrix(1.25,0,0,-1.25,-0.31413794,10008.288)"
                    id="g10"><text
                        transform="matrix(0.8,0,0,-0.8,0,8000)"
                        id="text3145"
                        y="1605.696"
                        x="10499.298"
                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;line-height:0%;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none"
                        xml:space="preserve"><tspan
                            style="font-size:700px;line-height:1.25"
                            y="1605.696"
                            x="10499.298"
                            id="tspan3147"> </tspan></text>
                <rect
                        transform="scale(1,-1)"
                        y="-388.78928"
                        x="0.25131035"
                        height="2716.0684"
                        width="7600"
                        id="rect3151-5"
                        style="fill:#e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:none" /><text
                        xml:space="preserve"
                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;line-height:0%;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none"
                        x="2537.8809"
                        y="-5426.1841"
                        id="text3314"
                        transform="scale(0.9970306,-1.0029782)"><tspan
                            style="font-size:558.33709717px;line-height:1.25"
                            id="tspan3316"
                            x="2537.8809"
                            y="-5426.1841"> </tspan></text>
                <g
                        style="display:inline"
                        id="layer2" /><text
                        transform="scale(1,-1)"
                        id="text4400"
                        y="2771.6143"
                        x="4001.8896"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:0%;font-family:Roboto;-inkscape-font-specification:Roboto;letter-spacing:0px;word-spacing:0px;fill:#7b7979;fill-opacity:1;stroke:none"
                        xml:space="preserve"><tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:320px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial"
                            y="2771.6143"
                            x="4001.8896"
                            id="tspan4402">www.tarifair.de  {{ month }}</tspan></text>
                <path
                        id="path3917"
                        d="M 3.9402293,7131.9432 H 7580.7092"
                        style="fill:none;stroke:#000000;stroke-width:8.12034225px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.53333285" /></g><g
                    transform="translate(-0.31413794,8.2881317)"
                    style="display:inline"
                    id="layer14"><g
                        transform="matrix(14.650704,0,0,14.650704,1088.3021,1624.7601)"
                        id="g3379"
                        style="display:block"><circle
                            transform="rotate(54.882899,249.99999,250.00001)"
                            style="fill:#ffffff;stroke:#00adef;stroke-width:8;stroke-miterlimit:10;stroke-opacity:1"
                            class="st0"
                            cx="250"
                            cy="250"
                            r="230.8"
                            id="circle3352" /><circle
                            style="fill:#00adef;fill-opacity:1"
                            class="st1"
                            cx="250"
                            cy="250"
                            r="167.8"
                            id="circle3354" /><path
                            style="fill:none"
                            id="path3228"
                            class="st2"
                            d="M 430.7,250 C 430.7,349.8 349.8,430.7 250,430.7 150.2,430.7 69.3,349.8 69.3,250 69.3,150.2 150.2,69.3 250,69.3 c 99.8,0 180.7,80.9 180.7,180.7 z" /><text
                            clip-path="url(#SVGID_8_)"
                            transform="matrix(1.0124313,0.0205451,-0.02028866,0.99979416,2.9597887,-11.649961)"
                            style="font-weight:bold;font-size:32px;line-height:0%;font-family:Arial;fill:#50abc2"
                            class="st1 st3 st4"
                            id="text3357"><textPath
                                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:Arial;-inkscape-font-specification:'Arial Bold';fill:#00adef;fill-opacity:1"
                                xlink:href="#SVGID_x5F_1_x5F_"
                                startOffset="50.506002%"
                                id="textPath3359">Bewertung nach Verbraucherschutz</textPath></text>
                    <path
                            style="fill:none"
                            id="SVGID_x5F_2_x5F_"
                            class="st2"
                            d="M 465.3,250 C 465.3,131.1 368.9,34.7 250,34.7 131.1,34.7 34.7,131.1 34.7,250 c 0,118.9 96.4,215.3 215.3,215.3 118.9,0 215.3,-96.4 215.3,-215.3 z" /><text
                            y="294.46411"
                            x="105.50294"
                            style="line-height:0%;text-anchor:end"
                            id="text3366"><tspan
                                clip-path="url(#SVGID_5_)"
                                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:155px;font-family:Arial;-inkscape-font-specification:'Arial Bold';fill:#ffffff"
                                x="355.50293"
                                y="294.46411"
                                class="st6 st3 st7"
                                id="tspan3368">1,0</tspan></text>
                    <text
                            id="text3392"
                            y="367.29251"
                            x="160.27229"
                            style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;line-height:0%;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none"
                            xml:space="preserve"><tspan
                                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:45.34542847px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold'"
                                y="367.29251"
                                x="160.27229"
                                id="tspan3394">sehr gut</tspan></text>
                </g></g><g
                    transform="translate(-0.31413794,8.2881317)"
                    id="g3385"
                    style="display:inline"><text
                        clip-path="url(#SVGID_5_)"
                        id="text3387"
                        class="st1 st3 st5"
                        style="font-weight:bold;font-size:43px;line-height:0%;font-family:Arial;display:block;fill:#50abc2"
                        transform="matrix(14.627777,0.81932115,-0.81932115,14.627777,1282.3253,1383.3227)"><textPath
                            id="textPath3389"
                            startOffset="59.226602%"
                            xlink:href="#SVGID_x5F_2_x5F_-3"
                            style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:Arial;-inkscape-font-specification:'Arial Bold';fill:#00adef;fill-opacity:1">{{ maxScore }} / {{ maxScore }} Kriterien erfüllt</textPath></text>
            </g><g
                    transform="translate(-0.31413794,8.2881317)"
                    style="display:inline"
                    id="g1055"><g
                        transform="translate(-450.18677,-159.83113)"
                        id="g1053"
                        style="display:inline"><g
                            id="g1049"
                            transform="matrix(1.25,0,0,-1.25,947.66558,13731.218)"><g
                                transform="translate(0,-69.808029)"
                                id="g1047"><text
                                    transform="scale(0.99703064,-1.0029782)"
                                    id="text1037"
                                    y="-2481.1382"
                                    x="2574.7957"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:0%;font-family:Roboto;-inkscape-font-specification:Roboto;text-align:start;letter-spacing:0px;word-spacing:0px;text-anchor:start;fill:#333333;fill-opacity:1;stroke:none"
                                    xml:space="preserve"><tspan
                                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:480px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold';text-align:start;text-anchor:start"
                                        y="-2481.1382"
                                        x="2574.7957"
                                        id="tspan1035">{{ company }}</tspan></text>
<text
        xml:space="preserve"
        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;line-height:0%;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';letter-spacing:0px;word-spacing:0px;fill:#333333;fill-opacity:1;stroke:none"
        x="2560.634"
        y="-1966.4972"
        id="text1045"
        transform="scale(1,-1)"><tspan
            id="tspan1039"
            x="2560.634"
            y="-1966.4972"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:352px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial">{{ productType }}</tspan><tspan
            id="tspan1041"
            x="2560.634"
            y="-1526.4972"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:352px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial">{{ tariffName }}</tspan><tspan
            x="2560.634"
            y="-1086.4972"
            id="tspan1043"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:352px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial">{{ tariffStand }}</tspan></text>
                        </g></g><image
                            width="2554.519"
                            preserveAspectRatio="xMidYMid"
                            height="2441.4905"
                            xlink:href="{{ logoSource }}"
                            id="image1051"
                            x="1037.7456"
                            y="10116.97" /></g></g><style
                    type="text/css"
                    id="style3277">
                .st0{fill:#FFFFFF;stroke: #50ABC2;stroke-width:8;stroke-miterlimit:10;}
                .st1{fill:#50ABC2;}
                .st2{fill:none;}
                .st3{font-family:'Arial';font-weight:bold;}
                .st4{font-size:32px;}
                .st5{font-size:43px;}
                .st6{fill:#FFFFFF;}
                .st7{font-size:155px;}
                .st8{font-size:40px;}
            </style><style
                    type="text/css"
                    id="style3335">
                .st0{fill:#FFFFFF;stroke: #50ABC2;stroke-width:8;stroke-miterlimit:10;}
                .st1{fill:#50ABC2;}
                .st2{fill:none;}
                .st3{font-family:'Arial';font-weight:bold;}
                .st4{font-size:32px;}
                .st5{font-size:43px;}
                .st6{fill:#FFFFFF;}
                .st7{font-size:155px;}
                .st8{font-size:40px;}
            </style><style
                    type="text/css"
                    id="style3105">
                .st0{fill:#002F53;}
                .st1{fill:#9CBC42;}
                .st2{fill:#A9C44E;}
            </style><style
                    type="text/css"
                    id="style3672">
                .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#1D1D1B;}
                .st1{clip-path:url(#SVGID_2_);fill:url(#SVGID_3_);}
                .st2{fill:none;}
                .st3{clip-path:url(#SVGID_5_);fill:url(#SVGID_6_);}
                .st4{clip-path:url(#SVGID_8_);fill:url(#SVGID_9_);}
            </style></svg>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/main.js') }}"></script>
{% endblock %}